/* CSS Document */

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.page-link li a:hover  {
  background-color: #B89B9D !important;
  color: #030633 !important;
  border-left: 12px solid #FFC8CB !important;
}

.page-link li a:focus  {
  background-color: #B89B9D !important;
  color: #030633 !important;
  border-left: 12px solid #FFC8CB !important;
}

/* "You are here" cues */
.page-link a {
    border-left: 12px solid rgb(0,51,102) !important;
    background: #FFCCCC !important;
    color: #030633 !important;
}

/*CSS for Custom GO TO TOP button added to this space's custom Main Layout*/  
#buttonTop {    
  display: none;    
  position: fixed;    
  bottom: 30px;    
  right: 30px;    
  z-index: 99;    
  font-size: 16px;    
  font-weight: 600;  
  border: none;    
  outline: none;    
  background-color: #555;    
  color: white;    
  cursor: pointer;    
  padding: 20px 16px;    
  border-radius: 50%;  
  opacity: 0.8;  
  transition: 0.3s;  
}    
    
#buttonTop:hover {    
  background-color: black;    
  color: white;  
}    