/* CSS Document */

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* Navigation */
nav {
  position: absolute;
  top: 5em;
  right: 1em;
  width:200px;
  font-family: Helvetica, Tahoma, Verdana, sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #05094D;
}
nav li {
  border-bottom: 1px solid #05094D;
}
nav li a:link {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 12px solid #02031A;
  border-right: 1px solid #02031A;
  background-color: white;
  color: #030633;
  text-decoration: none;
}
nav li a:visited {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 12px solid #02031A;
  border-right: 1px solid #02031A;
  background-color: white;
  color: #030633;
  text-decoration: none;
}

.small-screen-nav li a:hover  {
  background-color: #B89B9D;
  color: #030633;
  border-left: 12px solid #FFC8CB;
}

.small-screen-nav li a:focus  {
  background-color: #B89B9D;
  color: #030633;
  border-left: 12px solid #FFC8CB;
}

/* "You are here" cues */
#body_home #nav_home a,
  #body_about #nav_about a,
  #body_softdocs #nav_softdocs a,
  #body_articles #nav_articles a,
  #body_design #nav_design a,
  #body_psychconnect #nav_psychconnect a, 
  #body_uitext #nav_uitext a {
    border-left: 12px solid rgb(0,51,102);
    background: #FFCCCC;
    color: #030633;
}

#uitextexamples {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  border: 2px solid rgb(220,220,200);
  float: left;
  float: bottom;
}

section {
  margin-top: 5px;
  margin-bottom: 10px;
}

.liststyle {
  margin-bottom: 5px;
  list-style-type: circle;
}

h1 {
  font-size: 34px;
  position: left;
  color: rgb(0,0,0);
  font-family: Helvetica, Verdana, sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  position: center;
  font-family: "Trebuchet MS", Helvetica, Verdana, Cantarell, sans-serif;
  margin-top:16px;
  margin-bottom:3px;
}

/* Main content */
html {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: small/1.4;
  background-color: rgb(51,51,51);
  min-height: 100%; 
  margin-bottom: 1px;
  text-align: center;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;   
}

body {
  font-size: 92%;
  text-align: center;
}

main {
  margin-bottom:40px;
}

/*cascades wrapper*/
#wrapper {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(189,198,206);
  background-image: url(images/bg_cascades.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 900px 626px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*flowers wrapper*/
#wrapperflowers {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(206,207,206);
  background-image: url(images/bg_flowers.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 900px 675px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*deception pass wrapper*/
#wrapperdeceptionpass {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(189,190,189);
  background-image: url(images/bg_deceptionpass.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 900px 660px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*blank spaces wrapper*/
#wrapperblankspace {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(255,255,245);
  background-image: url(images/bg_greenstripe.gif);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 900px 660px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*purple dots wrapper*/
#wrapperpurple {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 122px 0 0 0;
  background-color: white;
  /*background-image: url(images/bg_purpledots.gif);*/
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 900px 543px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*stars wrapper*/
#wrapperstars {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(0,0,0);  
  background-image: url(images/bg_stars.gif);
  background-repeat: no-repeat;
  background-position: center top;      
  background-size: 900px 630px;
  border-bottom:20px solid rgb(35,35,35);
  border-top: 20px solid rgb(35,35,35);
  border-radius: 10px;
}

/*columbia river wrapper*/
#wrappercolumbiariver {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: rgb(88,88,88);
  background-image: url(images/bg_columbiariver.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 900px 506px;
  border-bottom:20px solid rgb(0,0,0);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
}

/*boston wrapper*/
#wrapperboston {
  position: relative;
  text-align: left;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0 0 0;
  background-color: white;
/*  background-image: url(images/bg_cascades.gif); 
  background-repeat: no-repeat; 
  background-position: center top;        */
  border-bottom:20px solid rgb(0,102,153);
  border-top: 20px solid rgb(0,102,153);  
  border-radius: 10px;
}

#content {
  margin-left: 4em;
  margin-right: 20em;
}

#content_dark {
  margin-left:4em;
  margin-right:20em;
  color: rgb(204,204,255);
  font-size:px;
  }

/* Photos and Add-ons*/
.photo_nocaption {
  float: left;
  /*margin: 2em 0 .5em .5em;*/
  padding-right: 2em;
  padding-bottom: 1em;
  line-height: 1em;
}

.photo_nocaption img {
  margin: 0;
  padding: 0;
  display: block;
  border: 2px solid #030633;
}
/* for float right images*/
.photo_r_nocaption {
  float: right;
  /*margin: 2em 0 .5em .5em;*/
  padding-left: 2em;
  padding-bottom: 1em;
  line-height: 1em;
}

.photo_r_nocaption img {
  margin: 0;
  padding: 0;
  display: block;
  border: 2px solid #030633;
}

#caption img {
  border: none;
}

#logoheader {
  display: block;
	font: 40px Helvetica, Verdana, sans-serif;
	text-align: left;
  color: black;
  text-shadow: 0px 1px 1px #222;  /* x-offset, a y-offset, shadow blurriness, shadow color*/
}

#subtitlelogoheader {
  display: block;
	font: 12px "Trebuchet MS", Helvetica, Sans-Serif;
	text-align: left;
  color: black;
}

.mainheader {
  float: left;
  position: absolute;
  /*margin: 2em 0 .5em .5em;*/
  padding-right: 2em;
  padding-bottom: 1em;
  line-height: 1em;
  top: 3em;
}

.mainheader img {
  margin: 0;
  padding: 0;
  display: block;
}

/* Headers and Footers */
footer {
  clear: both;
  position: absolute;
  text-align: right;
  font-size: 12px;
  color: white;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

#header {
  font-family: Verdana, Georgia, sans-serif;
  font-size: 20px;
  color: rgb(51,51,102);
}

/*
.cursorarticles {
  cursor: pointer;
}
*/

.widgetimages {
  text-decoration:none;
  border:none;
}

/*
@media only screen and (min-width: 480px) {
 
    nav {
        display: none;
    }
 
}
*/



/*  */