{%- assign fakeapidocs = site.data.fakeapidocs -%}

# <font color="#B4CF66">Amanda's Portfolio</font>

In the past decade, I've been worked mostly on **internal documentation**. In some of that time, I was moonlighting as a technical writer while working primarily as a game producer or technical producer. 

I've included a few different pieces in my portfolio to showcase my range. For future job searches, I'll focus on ✨ **jobs that are primarily something _other_ than technical writing, in which writing great documentation is critical for the job**.✨ So, support specialist, spec writer, business analyst, producer, and so on. Being the person with firsthand context to doing the job that the documentation supports. 

* **[Hikemap REST API](#fakeapidocs)**, written as an individual class project in 2024
* **[Game Artist and Designer-Facing Docs](#iwdocs)**, written at Infinity Ward 2017-2020
* **[Case Studies](#casestudies)**, little stories of my problem solving approach as a producer and technical writer at Infinity Ward
* **[Features articles](#articles)**, written during college (I know that was too long ago, but no one looks at my portfolio more than I do, these bring me joy, so here they are.)
* **[IBM Software Documentation](#ibm)**, written in 2017 or earlier (the latest external documentation I've written, aside from my Player Support Writing work, which I suppose I'll add Soon™.)

---

