<body>
 <section class="card-container">
  <article class="card">
    <img src="./img/temp/playtestresearch-elladon.jpg" alt="pcs" class="card-image" />
    <header class="card-header">
      <h2>Case Study: Making Production Decisions Based On User Testing</h2>
      <p class="card-description">
        I needed to work with decision makers to pick our next map for postlaunch production, based on user testing feedback.
      </p>
    </header>
    <footer class="card-footer">
      <button onclick="document.location='./stories/casestudy-playerresearchreport.md'">Read More</button>
    </footer>
  </article>
  <article class="card">
    <img src="./img/temp/playtest.jpeg" alt="playtesting" class="card-image" />
    <header class="card-header">
      <h2>Case Study: Build Executables</h2>
      <p class="card-description">
      Cleared up a pervasive assumption about which executables were being built at built time, saving artists and designers potentially hours per week. 
      </p>
    </header>
    <footer class="card-footer">
      <button onclick="document.location='./stories/casestudy-buildexes.md'">Read More</button>
    </footer>
  </article>
 </section>
</body>
