{%- assign manifesto-pregnancy = site.data.manifesto-pregnancy -%}
<h1>My Pregnancy Manifesto</h1>

<p>Pregancy, birthing, and parenthood is SO WILDLY DIFFERENT for each person. A guide is almost meaningless. I'm going to try to word things so you're constantly reminded that my page represents a sample size of one. I am not going to pretend that this experience will be similar at all for you. But I do write it in hopes that it might help one person feel a little less anxious about the process. I wrote this in hopes to share it with anyone who reaches out for advice and recommendations. It'll all be right here and you can reach out to learn more--I'm an open book on this subject. I like to keep certain things private, but I believe this type of info is meant to be shared among women who seek to learn more about real experiences. <strong>This is not medical advice.</strong> It's a personal account.</p>

<p><strong>Assumptions:</strong> If you have a vacation "away" message, then you will find some of my manifesto relatable and useful. If your first thought is "wtf is an OOTO message," this post will probably look cuckoo bananas, and I do apologize that our circumstances are so different. The inequity that so many experience in child rearing makes my heart sick.</p>

<p><strong>Critical note about free will:</strong> Some (coworkers? potential employers?) will look at this post and deem it totally inappropriate to share within the same space as my resume. If you think that might be you, I want to thank you again for looking at my site, but please consider whether this content will offend you. If you think it will, please exercise your own free will and return <a href="/index.html">Home</a>. I promise you won't miss anything.</p>

<hr>

<p><strong>About my pregnancy and birthing experience:</strong> Slight anemia in early pregnancy, induced at 41wks, vaginal birth, no epidural.</p>

<hr>

<h2>TTC</h2>
<ul>
  <li><strong>Prenatals</strong>: There are tons in the market and not one seems to be perfect. I used Actif Organics in the past, which seemed... fine? But after realizing there's no real information about them, I switched to Mary Ruth's Liquid Prenatal and Postnatal, which was deemed decently low-heavy-metals in <a href="https://tamararubin.com/2024/12/prenatal-chart/>this source from Lead Safe Mama</a>. I also picked it even though it wasn't lowest in the list because they use beta carotene instead of retinyl palmitate--to avoid any possibility of Vitamin A toxicity (which can cause all sorts of birth defects?)</li>
  <li>Exercise: Your good blood circulation is good for theirs. Exercise was hard for me, and often time I let perfect be enemy of the good. What worked for me (in terms of willpower) was light hiking and speedwalking at the mall, lunges, and some yoga. I think more excercise would've helped me with labor with my second born.</li>
  <li>Water // people warn you about having too much water, but you'd have to drink gallons a day to be considered dangerous. Make sure you drink a minimum 8 glasses, take more if you need and relax if you don't.</li>
  <li>Stress</li>
</ul>

<h2>Pregnant</h2>
<ul>
  <li>I'm not going to talk about the hospital visits unless you specifically ask me for them. This is because every doctor, nurse, and ...EVERYTHING is so different depending on your provider and tons of other factors, and I don't want you to think that your situation is abnormal in any way.</li>
  <li>Intent and woo-woo stuff. | Spend this time with the intent of transferring some of your experiences to your baby. I know this sounds crazy, but those little beans share so much with you while you are pregnant, and stuff like breastmilk is so bizarrely magical and beyond current scientific comprehension, my thought is that it's better to be safe than sorry and just assume that your experiences while pregnant transfer so much more than just oxygen and nutrients. This means I tried to exercise my brain and thunk critically, I read a lot, I thought kind thoughts and controlled all my anger, tried to stress less---you know, all the things I find it so hard to do when it's just me.</li>
</ul>

<h2>Labor & Delivery</h2>
<ul>
  <li>I'm not going to talk about the hospital visits unless you specifically ask me for them. This is because every doctor, nurse, and ...EVERYTHING is so different depending on your provider and tons of other factors, and I don't want you to think that your situation is abnormal in any way.</li>
  <li>Intent and woo-woo stuff. | Spend this time with the intent of transferring some of your experiences to your baby. I know this sounds crazy, but those little beans share so much with you while you are pregnant, and stuff like breastmilk is so bizarrely magical and beyond current scientific comprehension, my thought is that it's better to be safe than sorry and just assume that your experiences while pregnant transfer so much more than just oxygen and nutrients.</li>
</ul>

<h2>Breastfeeding</h2>
<ul>
  <li>I hope your birthing</li>
</ul>

<h2>Maternity Leave (0-4 months)</h2>
<ul>
  <li>If you do break up the time, I recommend you break it up in advance, but do not break up the time if you think it'll help with work. If you work at a desk job, it's more load for you do deal with all the backup coverage stuff twice, so just do it one fell swoop IF THAT'S WHAT YOU DESIRE. In fact, if you have the luxury, do exactly what you want and don't worry about what work things at all. Just be sure you discuss and communicate everything in advance with your boss so that everyone is clear on expectations and no one is surprised by anything.</li>
</ul>

<h2>That was fun, when can I do it again?</h2>
<ul>
  <li>I literally created this section just to tell you to make sure you continue doing your kegels throughout your life, including during your next TTC and pregnancy period. I didn't, and freaking regret it--I forgot to do them with my second and ended up having zero strength to push (how that baby came out, I do not know).</li>
</ul>

<p>The rest will be covered in a Motherhood Manifesto.</p>