{%- assign resume = site.data.resume -%}
        <section>  
          <h1>Software Documentation</h1>
          <p>Although <em>preventing</em> user frustration (through good software design, UX, development, and testing) is the best mode of action, my primary expertise is in developing software documentation to help bridge knowledge gaps, provide tips, and provide procedural steps for users. </p>
          <p>I write for a variety of audiences, including <strong>application developers</strong>, <strong>system administrators</strong>, and <strong>non-technical end users</strong>.</p> 
          <p>My deliverables include: <strong>user interface (UI) strings</strong>, <strong>error messages</strong>, <strong>tutorials</strong>, <strong>scenarios</strong>, <strong>technotes</strong>, and other software documentation. I enjoy writing useful material that is easy to use and understand. I author information with Darwin Information Typing Architecture (DITA) in Arbortext Editor and Oxygen Editor.</p>
          <p>Here are a few samples of my work (where I am the sole writer unless otherwise noted):</p>
        </section>
        <section>
          <h2>External data services (for application developers)</h2>
          The <a href="http://publib.boulder.ibm.com/infocenter/cmgmt/v8r4m0/topic/com.ibm.developingeuc.doc/eucap001.htm" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">External data services</a> documentation provides conceptual, task, and reference information to help users understand why they might want to implement an external data service solution, and basic guidance on how to set one up. This overview information and data flow diagram make it easy for users to understand what properties in the product can use the external data service, and how the data request is submitted to the external repository and how the data appears in the user interface.
          <p>I drafted the original diagram and conceptual information based on information that I received verbally from meetings and presentations.</p>
        </section>
        
        <section>
          <h2>Sync services (for end users)</h2>
          Sync was a highly anticipated new feature in IBM Content Navigator Version 2.0.3. I was responsible for doing the information architecture and writing for the sync documentation, including the following topics:
          <ul>
            <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche045.htm" title="[html] Documentation for end users" target="_blank">Syncing content across multiple devices</a></li>
            <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche046.htm" title="[html] Documentation for end users" target="_blank">Scenario: Syncing documents and folders that are shared in a teamspace</a></li>
            <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche047.htm" title="[html] Documentation for end users" target="_blank">Tips for syncing items in IBM Content Navigator</a></li>
          </ul>
        </section>
        
        <section>
          <h2>API documentation (Java, JavaScript, REST)</h2>
          Contributed to editing and delivering IBM Content Navigator API documentation (this material has been edited by at least two additional technical writers): <a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/eucrf000.htm" target="_blank">IBM Content Navigator API reference</a>.
          <p>For specific examples, I edited the documentation in the following classes and methods: 
            <ul>
              <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.model.Comment.html" title="[html] Documentation for plug-in developers" target="_blank">ecm.model.Comment</a></li>
              <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.model.SocialItem.html" title="[html] Documentation for plug-in developers" target="_blank">ecm.model.SocialItem</a>
                <p>
                  The original name for <code>SocialItem</code> was something like <code>IsSociallyCommentable</code> before I requested this change. This is a good example of how technical writing is not limited to documentation. Instead, good user-centered writing principles can be applied to every aspect of a product, including its APIs.
                </p>
              </li>
              <li class="liststyle"><a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.widget.SecurityPane.html" title="[html] Documentation for plug-in developers" target="_blank">ecm.model.Comment</a></li>
              <li class="liststyle">Most of the classes in the following package: <a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.javaeuc.doc/com/ibm/ecm/extension/package-summary.html" title="[html] Documentation for plug-in developers" target="_blank">com.ibm.ecm.extension</a></li>
            </ul>
          I did well in an intro Java class during college (<a href="https://courses.cs.washington.edu/courses/cse142/" target="_blank">CSE 142</a> with Stepp--one of the best instructors I've ever seen), which gave me enough confidence to offer to edit the API docs.
          </p>
        </section>
        
        <section>
          <h2>Constructing a URL for IBM Content Navigator</h2>
          Developers can learn how to <a href="https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.developingeuc.doc/eucbd001.dita" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">construct URLs for IBM Content Navigator</a>, which has many potential uses in application development. I included examples for each URL parameter and also sought after and included a sample scenario to help illustrate how these URLs can be integrated in business solutions.
        </section>

        <section>
          <h2>An alphabetical list of stages</h2>
          The <a href="http://publib.boulder.ibm.com/infocenter/iisinfsv/v8r5/topic/com.ibm.swg.im.iis.ds.stageix.doc/topics/master_stagesbytype.html" title="[html] Goes to the IBM InfoSphere Information Server Information Center" target="_blank">Alphabetical list of stages</a> is a reference document that lists all of the stages provided in InfoSphere DataStage and QualityStage. This document makes it easy for users to understand how each stage is obtained, where each stage is located in the product palette, and where they can go in the documentation for more information about each particular stage. Previously, this information could not be found in any one documentation resource.
          <p>To create a complete draft, I gained access to a working build and used the product to find the palette location and the job type information for each stage.</p>
        </section>
        
        <section>
          <h2>Troubleshooting</h2>
          Here is some troubleshooting information that I've documented:
          <ul>
            <li class="liststyle"><a href="http://www.ibm.com/support/docview.wss?uid=swg27045485" title="[html] Goes to the IBM Support Portal" target="_blank">Customizing the DotEdit Verify line items panel to handle large numbers of line items</a></strong> 
            <li class="liststyle"><a href="http://www.ibm.com/support/docview.wss?uid=swg21640073" title="[html] Goes to the IBM Support Portal" target="_blank">Security warning messages or blocking for Java applets might occur in IBM ECM web clients because of changed signing requirements in the Java Runtime Environment (JRE)</a></strong>
            <li class="liststyle"><a href="http://publib.boulder.ibm.com/infocenter/cmgmt/v8r4m0/topic/com.ibm.installingeuc.doc/eucts006.htm" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">Collecting data automatically by running IBM Support Assistant Data Collector</a></li>
            <li class="liststyle"><a href="http://publib.boulder.ibm.com/infocenter/iisinfsv/v8r5/topic/com.ibm.swg.im.iis.productization.iisinfsv.install.doc/topics/ts_nogenreportclstrfrntendwebsv.html" title="[html] Goes to the IBM InfoSphere Information Server Information Center" target="_blank">Cannot view report result from InfoSphere Information Server console or InfoSphere Information Server Web console</a></li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.installingeuc.doc/eucts002.dita" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">Enabling server logging for IBM Content Navigator</a></li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts003.dita" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">IBM Content Navigator log files</a></li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts022.dita" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">Document or folder is no longer available in the Favorites list</a></li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts026.dita" title="[html] Goes to the IBM Content Navigator Information Center" target="_blank">Deleting a teamspace does not remove the contents and folders of the teamspace</a></li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSZJPZ_8.5.0/com.ibm.swg.im.iis.found.admin.ha.common.doc/topics/admappsvclstr_propagatxml.html" title="[html] Goes to the IBM InfoSphere Information Server Information Center" target="_blank">Propagating the plugin-cfg.xml file to the front-end Web server</a><br>Received ample help on this documentation from the HA architect/developer. A spec was provided.</li> 
            <li class="liststyle"><a href="http://www.ibm.com/support/knowledgecenter/SSZJPZ_8.5.0/com.ibm.swg.im.iis.found.admin.ha.common.doc/topics/admappsvclstr_syncnodes.html" title="[html] Goes to the IBM InfoSphere Information Server Information Center" target="_blank">Synchronizing nodes after changing the master repository configuration</a></li> 
          </ul>
        </section>
        
        <section>
          <h2>A "first-use" guide</h2>
          This <a href="http://publib.boulder.ibm.com/infocenter/db2luw/v9r5/topic/com.ibm.dwe.cubeserv.doc/getstart_cubingservicescontainer.html" title="[html] Goes to the IBM DB2 LUW Information Center">Getting started with Cubing Services</a> guide was a project that I worked on sometime during my internship at <a href="https://www.facebook.com/pages/IBM-Silicon-Valley-Labs/145347642163117" title="[html] Goes to the IBM Silicon Valley Labs' Facebook page" target="_blank">IBM Silicon Valley Labs</a>, San Jose, Calif (2009). External users needed an easy-to-use, complete guide that could quickly get them started with the product. Previously, the information for getting started was scattered 
          among several different places in the information center and users had trouble finding the right information to get up and running quickly.
          <p>This guide needed to be especially easy to use, understand, and complete quickly. Customer calls on this issue grew costly and it was determined that we needed a more efficient, thorough guide that contained only the most basic, essential user tasks. </p>
          <p>I partnered with my technical editor and developer to turn the various pieces into one clear, self-contained "getting started" guide. We ended up completing the guide with praise and flying colors. Soon after the project was complete, the developer I had been working with sent it to a team member who was already seeking the type of information covered by the guide. After he sent the documentation, the colleague responded with satisfaction for the "well-written" guide that was both clear and useful.
          </p>
        </section>
        