{%- assign writingsamples = site.data.writingsamples -%}

# **⚠️ All the stuff below was copied in a hurry--straight out of my dusty, old portfolio from 2017 😱.** <br>Since then, 99% of my writing has been **internal**, so I'll need to set up time to redact some recent samples and case studies for this page. 

# <font color="#F26D3D">Articles</font>

At the University of Washington, I wrote for the campus newspaper and the Technical Communication departmental newsletter. Here are a few samples of my work:

### [![The badge Taylor wore during Mars Research](img/articles/apruchnicki-mars-preview.png)](files/articles/apruchnicki-mars.pdf)

**"Mars Research in Utah Desert," 2007**  
[**Link to PDF (144 KB)**](files/articles/apruchnicki-mars.pdf)  
This was a story I wrote for the 2007 edition of the Technical Communication (now Human Centered Design and Engineering) departmental newsletter, *posTComm* (now *Designing Up*).

### [![The Daily header with pictures of telescope](img/articles/apruchnicki-telescope-preview.gif)](files/articles/apruchnicki-telescope.jpg)

**"A glimpse at the stars," May 2006**  
[**Link to JPEG (648 KB)**](files/articles/apruchnicki-telescope.jpg)  
This was the first article I wrote at *The Daily* (the University of Washington's student-run campus newspaper). I continued to write features and art reviews for the newspaper throughout my freshman and sophomore years. 

---

# <font color="#D1005E">IBM Software Documentation</font>
Although _preventing_ user frustration (through good software design, UX, development, and testing) is the ideal place to begin, my primary expertise is in developing software documentation to develop useful mental schemas, bridge knowledge gaps, provide tips, and design the best steps for users.

I write for a variety of audiences, including <strong>application developers</strong>, <strong>system administrators</strong>, and <strong>end users</strong>.

My deliverables include: <strong>user interface (UI) strings</strong>, <strong>error messages</strong>, <strong>tutorials</strong>, <strong>scenarios</strong>, <strong>technotes</strong>, and other software documentation. I enjoy writing useful material that is easy to use and understand. I author information with Darwin Information Typing Architecture (DITA) in Arbortext Editor and Oxygen Editor.

Here are a few samples of my work (where I am the sole writer unless otherwise noted):
		  
### <font color="#D1005E">API documentation (Java, JavaScript, REST)</font>

Contributed to editing and delivering IBM Content Navigator API documentation (this material has been edited by at least two additional technical writers): [IBM Content Navigator API reference](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/eucrf000.htm).

I edited the documentation in the following classes and methods: 

- [ecm.model.SocialItem](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.model.SocialItem.html)
	- The original name for <code>SocialItem</code> was something like <code>IsSociallyCommentable</code> before I requested this change. This is a good example of how technical writing is not limited to documentation. Instead, good user-centered writing principles can be applied to every aspect of a product, including its APIs.
- [ecm.model.Comment](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.model.Comment.html)
- [ecm.widget.SecurityPane](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.developingeuc.doc/doc/JavaScriptdoc/symbols/ecm.widget.SecurityPane.html)
- Most of the classes in the following package: [com.ibm.ecm.extension](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.javaeuc.doc/com/ibm/ecm/extension/package-summary.html)

### <font color="#D1005E">External data services (for application developers)</font>

The [External data services](https://www.ibm.com/docs/en/content-navigator/3.0.x?topic=navigator-external-data-services) documentation provides conceptual, task, and reference information to help users understand why they might want to implement an external data service solution, and basic guidance on how to set one up. This overview information and data flow diagram make it easy for users to understand what properties in the product can use the external data service, and how the data request is submitted to the external repository and how the data appears in the user interface.

I drafted the original diagram and conceptual information based on information that I received verbally from meetings and presentations.

### <font color="#D1005E">Sync services (for end users)</font>

I was responsible for doing the information architecture and writing for the sync documentation, including the following topics:
 
- [Syncing content across multiple devices](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche045.htm)
- [Scenario: Syncing documents and folders that are shared in a teamspace](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche046.htm)
- [Tips for syncing items in IBM Content Navigator](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.3/com.ibm.usingeuc.doc/euche047.htm)
        
### <font color="#D1005E">Constructing a URL for IBM Content Navigator</font>

Developers can learn how to [construct URLs with IBM Content Navigator](https://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.developingeuc.doc/eucbd001.html). I included examples for each URL parameter and sought after and included a sample scenario to help illustrate how these URLs can be integrated into business solutions.

### <font color="#D1005E">An alphabetical list of stages</font>

The [Alphabetical list of stages](https://www.ibm.com/docs/en/iis/8.5.0?topic=qualitystage-alphabetical-list-stages) is a reference document that lists all of the stages provided in InfoSphere DataStage and QualityStage. This document makes it easy for users to understand how each stage is obtained, where each stage is located in the product palette, and where they can go in the documentation for more information about each particular stage. Previously, this information could not be found in any one documentation resource.

To create a complete draft, I gained access to a working build and used the product to find the palette location and the job type information for each stage (so the user doesn't have to). 

### <font color="#D1005E">Troubleshooting</font>

Some troubleshooting information that I wrote:

- [Security warning messages or blocking for Java applets might occur in IBM ECM web clients because of changed signing requirements in the Java Runtime Environment (JRE)](http://www.ibm.com/support/docview.wss?uid=swg21640073)
- [Cannot view report result from InfoSphere Information Server console or InfoSphere Information Server Web console](https://www.ibm.com/docs/en/iis/8.5.0?topic=iisrp-cannot-view-report-result-from-consoles-in-cluster-environment) 
- [Enabling server logging for IBM Content Navigator](http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.2/com.ibm.installingeuc.doc/eucts002.html) 
- [IBM Content Navigator log files](http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts003.dita) 
- [Document or folder is no longer available in the Favorites list](http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts022.dita)
- [Deleting a teamspace does not remove the contents and folders of the teamspace](http://www.ibm.com/support/knowledgecenter/SSEUEX_2.0.1/com.ibm.installingeuc.doc/eucts026.dita) 
- [Propagating the plugin-cfg.xml file to the front-end Web server](http://www.ibm.com/support/knowledgecenter/SSZJPZ_8.5.0/com.ibm.swg.im.iis.found.admin.ha.common.doc/topics/admappsvclstr_propagatxml.html)<br>Received lots of help on this documentation from the architect. A spec was provided.
- [Synchronizing nodes after changing the master repository configuration](http://www.ibm.com/support/knowledgecenter/SSZJPZ_8.5.0/com.ibm.swg.im.iis.found.admin.ha.common.doc/topics/admappsvclstr_syncnodes.html) 
 